.articlePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 
.hidden {
  visibility: hidden;
} */

.articleTitle {
  border-bottom: rgb(255, 96, 110);
  font-weight: bold;
}
