.articleAdder {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
}

#bodyInput {
  height: 100px;
  width: 100%;
}

.articleAdder label {
  margin: 20px 0px 0px 0px;
}

.articleAdder button {
  margin: 20px 0px;
  background: rgb(209, 80, 91);
  color: white;
  font-size: 1em;
  width: 200px;
  align-items: right;
}
