.header {
  padding: 0px 0px;
  font-size: 0.7em;
}

.header h1 {
  margin: 5px 20px 10px 20px;
  letter-spacing: 12px;
  line-height: 18px;
  text-align: left;
}

.authHeader {
  background: rgb(209, 80, 91);
  color: white;
}

@media (max-width: 600px) {
  .header h1 {
    text-align: left;
    width: 130px;
  }
}
