.header {
  /* display: flex; */
  /* flex-direction: column; */
  text-align: center;
  justify-content: center;
  /* text-align: left; */
  padding: 0px 0px;
  font-size: 0.7em;
}

.header h1 {
  margin: 5px 20px 10px 20px;
  letter-spacing: 12px;
  line-height: 18px;
  text-align: left;
}
