.loginPage {
  background: lightblue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0px;
  padding: 0px 0px 300px 0px;
  overflow: hidden;
  position: fixed;
}

.loginPage h1 {
  font-size: 4em;
  line-height: 60px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 100px 0px;
  align-items: center;
  justify-content: center;
}

.incorrectUser {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  animation-delay: 0.2s;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
