.nav {
  display: inline;
  justify-content: right;
  align-items: right;
  text-align: right;
}

.nav a {
  margin: 0px 10px;
  text-align: right;
  color: white;
  letter-spacing: 1.5px;
  font-size: 1.2em;
}

.nav a:hover {
  font-weight: bold;
}

.submitArticleNav {
  border: 1px solid white;
  border-radius: 15px;
  padding: 5px 7px;
}
