.userProfile td {
  text-align: left;
}
/* 
.infoTable {

} */

.userProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-left: auto;
  margin-right: auto; */
}
