.userAvatar {
  width: 8%;
  height: 100%;
  border-radius: 30px;
}

.userInd {
  display: inline;
  /* flex-direction: row;  */
  /* justify-content: right;
  text-align: right; */
  max-height: 200px;
  font-size: 1em;
}

.userInd p {
  line-height: 7px;
  display: inline;
  letter-spacing: 1px;
}
