/* .pressed {
  background: lightgray;
} */

.voteSection button {
  border-radius: 5px;
  width: 60px;
}

.down {
  background: rgb(218, 167, 167);
}

.up {
  background: rgb(171, 205, 171);
}

.articleVotes {
  display: flex;
  flex-direction: row;
}
