.App {
  text-align: center;
  display: grid;
  grid-template: 1fr 1fr 11fr 1fr / 1fr 1fr 1fr;
  grid-template-areas:
    "header userInd userInd"
    "header nav nav"
    "main main sidebar"
    "footer footer footer";
  height: 100vh;
  font-family: Raleway;
}

.header {
  grid-area: header;
  border: 2px solid rgb(173, 216, 230);
  background: rgba(173, 216, 230, 0.2);
}

.userInd {
  grid-area: userInd;
  background: rgba(144, 238, 144, 0.2);
  border: 2px solid rgb(144, 238, 144);
}

.nav {
  grid-area: nav;
  background: rgba(255, 255, 0, 0.2);
  border: 2px solid rgb(255, 255, 0);
}

.main {
  grid-area: main;
  background: rgba(255, 0, 0, 0.2);
  border: 2px solid red;
}

.sidebar {
  grid-area: sidebar;
  background: rgba(0, 0, 255, 0.2);
  border: 2px solid rgb(0, 0, 255);
}

.footer {
  grid-area: footer;
  background: rgba(128, 0, 128, 0.2);
  border: 2px solid purple;
}
