body {
  font-family: Raleway;
  margin: 0px;
}

.App {
  text-align: center;
  display: grid;
  grid-template: 1fr 15fr 1fr / 1fr 1fr 1fr;
  grid-template-areas:
    "menubar menubar menubar"
    /* "menubar menubar menubar" */
    "main main sidebar"
    "footer footer footer";
  height: 100vh;
}

/* .App .header {
  grid-area: menubar;
} */

.userAndMenu {
  background: rgb(209, 80, 91);
  display: flex;
  flex-direction: column;
  justify-content: right;
  justify-items: right;
  text-align: right;
  margin: auto;
}

/* .userInd {
  grid-area: userInd;
} */

/* .nav {
  grid-area: nav;
} */

.menubar {
  grid-area: menubar;
  display: flex;
  flex-direction: row;
  background: rgb(209, 80, 91);
  border-bottom: rgb(209, 80, 91);
  color: white;
  width: 100%;
}

.main {
  grid-area: main;
  overflow: scroll;
  border-top: 5px solid rgb(209, 80, 91);
  margin: 5px 0px;
}

.sidebar {
  grid-area: sidebar;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  border-top: 5px solid rgb(209, 80, 91);
  margin: 5px 0px;
}

.footer {
  grid-area: footer;
  background: rgb(209, 80, 91);
  color: white;
}

a {
  color: rgb(89, 89, 89);
  text-decoration: none;
}

a:hover {
  font-weight: 1000;
  color: black;
}

.sidebar::-webkit-scrollbar {
  width: 0.5em;
}

.main::-webkit-scrollbar {
  width: 0.5em;
}

.deleteButton {
  background: lightcoral;
}

/* .headerBar {
  background: rgb(209, 80, 91);
  border-bottom: rgb(209, 80, 91);
  color: white;
} */

@media (max-width: 600px) {
  .App {
    grid-template: 1fr 15fr 10fr 1fr / 1fr;
    grid-template-areas:
      "menubar"
      "main"
      "sidebar"
      "footer";
    height: 100vh;
    text-align: center;
  }
  .menubar {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    text-align: center;
    align-content: center;
    align-content: center; */
  }

  .userAndMenu {
    justify-content: center;
    text-align: center;
    align-content: center;
    align-content: center;
  }
  .nav {
    display: flex;
    flex-direction: column;
  }
}
